<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Indian Solar Calendar</title>
        <link href="static/lib/css/bootstrap.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,500,700' rel='stylesheet' type='text/css'>
        <link href="static/lib/css/bic_calendar.css" rel="stylesheet">

        <script src="static/lib/js/jquery.js"></script>
        <script src="static/lib/js/const.js"></script>
        <script src="static/lib/js/bic_calendar.js"></script>

        <style>
        body{
        background: #f0f0f0;
        background-image: url(static/lib/img/grid-18px-masked.png);
        background-position: top;
        background-repeat: repeat-x;
        background-attachment: fixed;
        }
        body, div, col-md-, p, a, h1, h2, h3, h3, h5, h5{
        font-family: 'Ubuntu', sans-serif;
        }
        .atzucac{
        padding: 20px;
        }
        .container{
        max-width: 900px;
        }
        </style>
    </head>
    <body>
        <div class="container">
            <div id="calendari_lateral1"></div>
        </div>
    </body>
    <script>
        $(document).ready(function() {
            $('#calendari_lateral1').bic_calendar();
        });
    </script>
</html>